# Jupyter Notebook
.ipynb_checkpoints
**/.ipynb_checkpoints/

# Ignore all /data/cleandata/ folders and files, except 'Enchentes_LatLong.csv'
data/cleandata/
!data/cleandata/Ordens de serviço/Enchentes_LatLong.csv

__pycache__/

# Virtual Environment
venv/

images/

key/
