# Jupyter Notebook temporary data files
.ipynb_checkpoints
**/.ipynb_checkpoints/

# Ignore all /data/cleandata/ folders and files, except 'Enchentes_LatLong.csv' and 'lat_lng_estacoes.csv'
data/cleandata/**
!data/cleandata/Estacoes/
data/cleandata/Estacoes/**
!data/cleandata/Estacoes/lat_lng_estacoes.csv
!data/cleandata/Ordens de serviço/
data/cleandata/Ordens de serviço/**
!data/cleandata/Ordens de serviço/Enchentes_LatLong.csv

# Virtual Environment folder
venv/

# BigQuery key folder
key/

# Data validation images folder
images/

# Other folders
__pycache__/
.vscode/

# PyCaret related items
**/catboost_info
**/mlruns
