:root {
  --bg-ligher: #fff;
  --bg-light: #d1d3d1;
  --bg-dark: #222437;
  --bg-darker: #1c1e2f;
  --text-lighter: #fff;
  --text-light: #d1d3d1;
  --text-darker: #333;
  --border-lighter: #fff;
  --box-shadow-light: rgba(255,255,255,.2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bg-darker);
}

svg,
canvas {
  border-radius: 6px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: inherit;
}

img {
  width: inherit;
  height: inherit;
}

input[type='radio'] {
  margin-right: 4px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: var(--bg-light);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--border-lighter);
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: #6646ed;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--border-lighter);
}

.model-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: var(--text-lighter);
  padding: .75em 1.75em;
  box-shadow: 0px 1px 5px 0px var(--box-shadow-light);
  border-radius: 6px;
  background-color: var(--bg-dark);
}

.model-selection-items {
  display: flex;
}

.link {
  color: var(--text-lighter);
}
.link:hover {
  font-style: italic;
  text-decoration: underline;
}

.button {
  width: max-content;
  border-color: var(--border-lighter);
  color: var(--text-lighter);
  transition: transform .2s ease-in-out;
}

.button:focus {
  border-color: var(--border-lighter) !important;
  color: var(--text-lighter) !important;
}

.button:active {
  transform: scale(.95);
}

.dash-dropdown .Select-value {
  background-color: var(--bg-dark);
}

.dash-dropdown .Select-value .Select-value-label {
  color: var(--text-lighter) !important;
}

.dash-dropdown .Select-menu-outer {
  background-color: var(--bg-dark);
  color: var(--text-lighter);
}

.dropdown-labels {
  margin: .75em 0 .25em;
}

.slider {
  width: 100%;
  padding-bottom: 30px !important;
  background-color: var(--bg-dark);
  border-radius: 6px;
}

.slider-title {
  font-size: 1.6rem;
  color: var(--text-lighter);
  text-align: center;
  margin: .5em 0 .5em;
}

.rc-slider-dot-active,
.rc-slider-handle {
  border-color: var(--border-lighter) !important;
}

.rc-slider-track {
  background-color: var(--bg-ligher) !important
}

.rc-slider-rail {
  background-color: var(--bg-dark) !important
}

.rc-slider-mark-text-active {
  color: var(--text-lighter) !important;
}

.card {
  padding: 1em 1.5em;
  box-shadow: 0px 1px 5px 0px var(--box-shadow-light);
  border-radius: 6px;
  background-color: var(--bg-dark);
}

.card-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: .25em;
}

.card-value {
  font-size: 2.5rem;
  color: var(--text-lighter);
}

.card-title {
  font-size: 1.5rem;
  color: var(--text-light);
}

.card-tooltip {
  margin-left: 1em;
  width: 1.75em;
  height: 1.75em;
  background-color: var(--bg-light);
  border-radius: 50%;
  line-height: 1.75em;
  text-align: center;
}

.card-tooltip::before {
  content: '?';
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-lighter);
}

.card-tooltip:hover {
  background-color: #aaa;
}

.info {
  padding: 2em;
  background-color: var(--bg-dark);
  color: var(--text-lighter);
  box-shadow: 0px 1px 5px 0px var(--box-shadow-light);
  border-radius: 6px;
}

.info-title {
  font-size: 2.75rem;
  margin: 0 0 .75em;
}

.info-content {
  text-align: justify;
  font-size: 1.25rem;
  margin-bottom: 1em;
}

.info-content:last-of-type {
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.header-title {
  color: var(--text-lighter);
  margin: 0 1em 0 0;
}

.header-logo-maua {
  width: 120px;
  height: 60px;
  margin-right: 2em;
}

.header-logo-sa {
  width: 60px;
  height: 70px;
}

.tab1,
.tab2,
.tab3,
.tab4 {
  background-color: var(--bg-dark) !important;
  color: var(--text-lighter) !important;
}

.tab1.tab--selected,
.tab2.tab--selected,
.tab3.tab--selected,
.tab4.tab--selected {
  background-color: var(--bg-darker) !important;
  color: var(--text-lighter) !important;
  border-top: 2px solid var(--border-lighter) !important;
}

.tab1-container,
.tab2-container,
.tab3-container,
.tab4-container {
  display: flex;
  padding: 4rem 0;
}

.tab1-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-darker);
}

.tab1-header {
  display: flex;
  margin-bottom: 2em;
  width: 80%;
}

.tab1-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 0;
  margin-right: 2em;
  color: var(--text-lighter);
  background-color: var(--bg-dark);
  box-shadow: 0px 1px 5px 0px var(--box-shadow-light);
  border-radius: 6px;
}

.tab1-form-title {
  margin: 0 0 .25em 5%;
}

.tab1-dropdown-wrapper {
  display: flex;
  margin-bottom: 1.5em;
}

.tab1-dropdown-group {
  width: 100%;
  margin: 0 5%;
}

.tab1-form .button {
  margin-left: 5%;
}

.tab1-container .info {
  width: 30%;
}

.tab1-graphs-wrapper {
  display: flex;
  justify-content: center;
  width: 80%;
}

.tab2-container {
  justify-content: center;
}

.tab2-side-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 6em;
}

.tab2-cards-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.5em;
}

.tab2-slider-wrapper {
  width: 100%;
  margin-bottom: 2.5em;
  background-color: var(--bg-dark);
  box-shadow: 0px 1px 5px 0px var(--box-shadow-light);
  border-radius: 6px;
}

.tab2-map-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab2-map-title {
  font-size: 1.6rem;
  margin: 0 0 .5em;
  color: var(--text-lighter);
}

.tab2-graphs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.tab2-map-filter,
.tab3-map-filter {
  opacity: 0.9;
}

.tab3-container {
  flex-direction: column;
  align-items: center;
}

.tab3-graphs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 4em;
}

.tab3-wrapper {
  display: flex;
  width: 80%;
  margin-top: 1.5em;
}

.tab3-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3em;
}

.tab3-info-wrapper .card {
  padding: 1em 2em;
  margin-bottom: 1.5em;
}

.tab3-info-wrapper .info:last-of-type {
  margin-top: 1.5em;
}

.tab3-info-wrapper .button {
  margin-top: 1.5em;
}

.tab3-map-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab3-map-title {
  font-size: 1.6rem;
  margin: 0 0 .5em;
  color: var(--text-lighter);
}

.tab3-map-labels {
  display: flex;
  justify-content: space-around;
  margin-top: .75em;
  width: 100%;
  font-size: 1.25rem;
}

.tab3-map-label-wrapper {
  background-color: #dbdbdc;
  border-radius: 6px;
}

.tab3-map-label {
  display: block;
  border-radius: 6px;
  padding: .15em .65em;
  color: var(--text-darker);
}

.tab4-container {
  flex-direction: column;
  align-items: center;
}

.tab4-graphs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

@media screen and (min-width: 1921px) {
  .tab1-header,
  .tab1-graphs-wrapper,
  .tab3-graphs-wrapper,
  .tab3-wrapper,
  .tab4-graphs-wrapper {
    width: 65%;
  }

  .tab2-graphs-wrapper {
    width: 40%;
  }

  .tab2-side-wrapper {
    margin-right: 10em;
  }
}

@media screen and (max-width: 1440px) {
  .info-content {
    font-size: 1.3rem;
  }

  .tab1-form {
    width: 65%;
  }

  .tab1-container .info {
    width: 35%;
  }

  .tab2-side-wrapper {
    margin-right: 4.5em;
  }

  .tab3-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .tab3-info-wrapper {
    margin: 1.5em 0 0;
    width: 750px;
  }
}

@media screen and (max-width: 1280px) {
  .tab2-side-wrapper {
    margin-right: 3em;
  }
}

@media screen and (max-width: 1024px) {
  .tab1-header,
  .tab1-graphs-wrapper,
  .tab3-graphs-wrapper,
  .tab3-wrapper,
  .tab4-graphs-wrapper {
    width: 85%;
  }

  .header-title {
    font-size: 3.5rem;
  }

  .tab1-form {
    width: 60%;
  }

  .tab1-container .info {
    width: 40%;
  }

  .tab1-dropdown-wrapper {
    flex-direction: column;
  }

  .tab1-dropdown-group {
    width: auto;
    margin: 0 7%;
  }

  .tab1-form-title,
  .tab1-form .button {
    margin-left: 7%;
  }

  .tab2-container {
    flex-direction: column;
    align-items: center;
  }

  .tab2-side-wrapper {
    margin: 0 0 2.5em;
  }

  .tab2-graphs-wrapper {
    width: 65%;
  }
}

@media screen and (max-width: 980px) {
  .header-title {
    font-size: 3rem;
  }
}
